#out5{
	padding-left: 13%;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	height: 650px;
}
main.body{
	width: 100%; 
	height: 650px; 
	background-color: none; 
	margin-top: 20px;
}
