*{
	padding: 0;
	margin: 0;
	font-family: Arial;
}
nav{
	z-index: 2;
	position: relative;
}
main.body{
	z-index: 1;
	position: relative;
}
footer{
	z-index: 2;
	position: relative;
}
main.body{
	/*css*/
}